# Build artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/

# Data and Databases (Important to exclude for production images)
nanodb.json
uploads/*
static/plots/*
static/models/*
*.pkl
*.db
*.sqlite

# Environment variables
.env
.env.*

# Node.js
node_modules/
frontend/dist/
frontend/node_modules/

# OS/IDEs
.DS_Store
.vscode/
.idea/
.git/
